html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn-crud {
    background-color: #fff387 !important;
    outline-color: red;    
   
}



.th-g {
    font-size: 1px;
   
}


