html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
    font-family: 'Century Gothic', sans-serif;
}

.btn-crud {
    background-color: #fff387 !important;
    outline-color: red;
}

.btn-login {
    background-color: #ECF0F1 !important;
    outline-color: black;
    padding: 1px 80px;
    font-size: 40px;
    border-radius: 80px;
    color: #3B5A77;
}

.btn-xs {
    padding: 1px 5px;
}

.th-g {
    font-size: 1px;
}

.img-login {
    max-width: 50%;
}

.img-responsive {
    max-height: 50%;
    max-width: 50%;
    margin-top: 40px;
}

.containers {
    max-width: 190%;
}

.card {
    text-align: center;
}

.card3 {
    width: 600px;
    height: 300px;
    align-content: center;
    margin-top: 45px;
    font-weight: bold;
}