html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fff387;
}

.navbarLine {
    border-bottom: solid;
    border-block-width: thin;
    /*height:4.8em;*/
    margin-top:2.7%;
}
