@page
@model BookSmart.Pages.TeacherLayout.CreateBookListModel
@{
    ViewData["Title"] = "CreateBooklist";
}

<h1>Create A Booklist</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary=" ModelOnly " class="text-danger">
            </div>
            <label class="custom-control-label"><strong>Choose Books</strong></label><br />
            <div>
                @foreach (var b in Model.Books)
                {
                    <input name="ChosenBookIds" type="checkbox" value="@b.BookId" />
                    @b.Title
                    <br />
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" asp-for="@Model.ID" asp-for="@Model.TID" class="form-control btn btn-primary" />
                @*<input type="hidden" value="" name="id" />*@
            </div>
        </form>
    </div>
</div>
