@page
@model BookSmart.Pages.TeacherLayout.TeacherLoginModel
@{
    ViewData["Title"] = "Forside";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookSmart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookSmart.styles.css" asp-append-version="true" />
</head>

<body style="background: #fff387">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col col-xl-8">
                <div>
                    <img class="img-login" style="float: left;" src="~/images/ProductBoxProjekt2.png" />
                </div>
                    <div class="card" style="border-radius: 2rem;">                  
                        <div class="row g-0">
                            <div class="">
                                <div class="card-body p-8 p-lg-8 text-black">
                                    <form>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">Initials</label>
                                            <input asp-for="@Model.LoginDetails" class="form-control"/>
                                            <span asp-validation-for="@Model.LoginDetails" class="text-danger"></span>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">Password</label>
                                            <input type="password" id="form2Example27" class="form-control"/>   
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-crud btn-lg mt-4" style="border-radius: 2rem; padding-right: 8%; padding-left: 8%" asp-page="/TeacherLayout/TeacherSite" asp-route-LoginDetails="@Model.LoginDetails" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
