@page
@model BookSmart.Pages.CoordinatorLayout.CoordinatorLoginModel
@{
    ViewData["Title"] = "CoordinatorMenu";
    Layout = "../Pages/Shared/EmptyLayout"; 
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card card3 btn btn-outline-dark" style="background: #fff387;">
                <a class="card-block stretched-link m-auto" href="/Teachers/GetTeachers">
                    <p class="btn btn-block card-title" style="font-size: 25px"><b>Teachers</b></p>
                    </br>
                    <i class="fa fa-address-card-o fa-5x text-black"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card3 btn btn-outline-dark" style="background: #fff387;">
                <a class="card-block stretched-link m-auto" href="/Classes/GetClasses">
                    <p class="btn btn-block card-title" style="font-size: 25px"><strong>Classes</strong></p>
                    </br>
                    <i class="fa fa-graduation-cap fa-5x text-black"></i>
                </a>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card3 btn btn-outline-dark" style="background: #fff387;">
                <a class="card-block stretched-link m-auto" href="/Subjects/GetSubjects">
                    <p class="btn btn-block card-title" style="font-size: 25px"><strong>Subjects</strong></p>
                    </br>
                    <i class="fa fa-hand-spock-o fa-5x text-black"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card3 btn btn-outline-dark" style="background: #fff387;">
                <a class="card-block stretched-link m-auto" href="/Books/GetBooks">
                    <p class="btn btn-block card-title" style="font-size: 25px"><b>Books</b></p>
                    </br>
                    <i class="fa fa-book fa-4x text-black"></i>
                </a>
            </div>
        </div>
    </div>
</div>