@page
@model BookSmart.Pages.CoordinatorLayout.CoordinatorLoginModel
@{
    ViewData["Title"] = "CoordinatorMenu";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3" style="background: #fff387;">
                <div class="card-body">
                    <h5 class="card-title">Button 1</h5>
                    <p class="card-text">Click this button to go to page 1.</p>
                    <a href="page1" class="btn btn-primary">Go to page 1</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="background: #fff387;">
                <div class="card-body">
                    <h5 class="card-title">Button 2</h5>
                    <p class="card-text">Click this button to go to page 2.</p>
                    <a href="page2" class="btn btn-primary">Go to page 2</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card3 mb-3" style="background: #fff387;">
                <div class="card-body">
                    <h5 class="card-title">Button 3</h5>
                    <p class="card-text">Click this button to go to page 3.</p>
                    <a href="page3" class="btn btn-primary">Go to page 3</a>
                </div>
            </div>
        </div>
    </div>
</div>