@page
@model BookSmart.Pages.Classes.ClassInfoModel
@{
}

<h3 style="color:black"> Info on @Model.Class.Name </h3>


<body>
    <div class="container" style="width:100%" ;>
        <table class="table" id="sortTable">
            <thead>
                <tr>
                    <th> Teachers  </th>

                    <th class="th-g"></th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    @foreach (var item in Model.Class.ClassTeachers)
                    {
                        <tr>
                            <td>  @item.InitialsNavigation.Name</td>

                        </tr>
                    }
                }
        </table>
    </div>

    <div class="container" style="width:100%" ;>
        <table class="table" id="sortTable">
            <thead>
                <tr>
                    <th> Books  </th>

                    <th class="th-g"></th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    @foreach (var item in Model.ClassBooks.BookClasses)
                    {
                        <tr>
                            <td>  @item.Book.Title</td>

                        </tr>
                    }
                }
        </table>
    </div>
</body>
