@page
@model BookSmart.Pages.Subjects.CreateSubjectModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create A Subject</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.Subject.Name" class="control-label"></label>
                <input asp-for="@Model.Subject.Name" class="form-control" />
                <span asp-validation-for="@Model.Subject.Name" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn" style="background-color: #fff387; font-weight:bold" />
                <a href="javascript:history.back()" class="overskrift btn" style="position: relative; left: 15px; background-color: #fff387"><b>Back</b></a>
            </div>
        </form>
    </div>
</div>