@page
@model BookSmart.Pages.Subjects.GetSubjectsModel
@{
    ViewData["Title"] = "GetSubjects";
}

<h1 style="color:black">List of Subjects</h1>
<p>
    <a asp-page="/Subjects/CreateSubject">Create A New Subject</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria"/>
        <input type="submit" value="Filter"/>
        <a asp-page="/Subjects/GetSubjects">Back to Full List</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th> Subject Id </th>
            <th> Name </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Subjects)
            {
                <tr>
                    <td> @item.SubjectId </td>
                    <td> @item.Name </td>
                    <td>
                        <p>
                            <a asp-page="/Subjects/UpdateSubject" asp-route-sid="@item.SubjectId">Update</a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Subjects/DeleteSubject" asp-route-sid="@item.SubjectId">Delete</a>
                        </p>
                    </td>
                </tr>
            }
        }
</table>