@page
@model IndexModel
@{
    ViewData["Title"] = "ForsideSlet";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookSmart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookSmart.styles.css" asp-append-version="true" />
</head>

<body style="background: #fff387">
    <div class="text-center">
        <p>
        <img class="img-responsive" style="float: center;" src="~/images/ProductBoxProjekt2.png" />
        </p>
        <p>
            <a asp-page="/TeacherLayout/TeacherLogin" class="btn btn-login btn-outline-dark mt-2" style="border-radius: 2rem; float: center;" role="button">LOGIN</a>
        </p>
        <p>
            <a asp-page="/...." class="btn mt-0 btn-xs" style="float: center;">Login as koordinator</a>
        </p>
   </div>
</body>