@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookSmart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookSmart.styles.css" asp-append-version="true" />
</head>

<body style="background: #fff387">
    <section class="overskrift vh-100" style="">
        <div class="container py-5 h-100">


            <div class="row d-flex justify-content-center align-items-center">

                <div class="col col-xl-5">
                    <div class="card" style="border-radius: 1rem;">
                        <div>
                            <img class="img-login" src="~/images/ProductBoxProjekt2.png" />
                        </div>
                        <div class="row g-0">

                            <div class="">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form>
                                        <div class="form-outline mb-4">

                                            <label class="form-label" for="form2Example27">Initials</label>
                                            <input asp-for="@Model.LoginDetails" class="form-control"   />
                                            <span asp-validation-for="@Model.LoginDetails" class="text-danger"></span>
                                              <div class="form-group">
                                                <input type="submit" value="Update" class="btn btn-primary" asp-page="/Teachers/TeacherInfo" asp-route-LoginDetails="@Model.LoginDetails" />
                                            
</div>
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        </p>
                                      
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>