@page
@model BookSmart.Pages.TeacherLoginModel
@{
    ViewData["Title"] = "Forside";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookSmart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookSmart.styles.css" asp-append-version="true" />
</head>

<body style="background: #fff387">
    <div class="containers">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col col-xl-8">
                <div>
                    <img class="img-login" style="float: left;" src="~/images/ProductBoxProjekt2.png" />
                </div>
                    <div class="card" style="border-radius: 2rem;">                  
                        <div class="row g-0">
                            <div class="">
                                <div class="card-body p-4 p-lg-4 text-black">
                                    <form>
                                    <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">Initials</label>
                                        <input type="email" asp-for="Initials" id="form2Example17" class="form-control form-control-lg" required />
                                    </div>
                                    <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">Password</label>
                                        <input type="password" id="form2Example27" class="form-control form-control-lg" />   
                                    </div>
                                    <div class="text-end">
                                    <a class="pt-1 mb-4" asp-area="" asp-page="Classes/GetClasses" asp-route-tid="@Initials">
                                        <button class="btn btn-crud btn-lg mt-3" type="button" style="border-radius: 2rem; padding-right: 8%; padding-left: 8%;">Login</button>
                                    </a>
                                    </div>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                    </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
